about-time==3.1.1
alive-progress==2.1.0
beautifulsoup4==4.11.1
certifi==2021.10.8
charset-normalizer==2.0.12
commonmark==0.9.1
dataclasses==0.8
grapheme==0.6.0
html5lib==1.1
idna==3.3
Pygments==2.12.0
requests==2.27.1
rich==12.4.1
six==1.16.0
soupsieve==2.3.2.post1
typing-extensions==4.1.1
urllib3==1.26.9
webencodings==0.5.1
